.visit-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.visit-form--max-width {
  max-width: 800px;
}

.icon--size {
  width: 3em;
}

#MeetingDetails {
  resize: vertical;
}